@model RecordFCS_Alt.Models.TipoPieza

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoPieza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoObra.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoObra.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPiezaPadre.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPiezaPadre.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prefijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prefijo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsPrincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsPrincipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoPiezaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
